/web.config
/templates_c
/cache/vectortile
/cache/templates_c
/build
/dist
/vendor
!/cache/readme.txt
/conf/data/test_wfsuser
/conf/data/test_wmsuser
/conf/data/test_administrator
/conf/data/test_anonymous
/conf/data/test_author
/conf/data/test_group
/conf/data/test_mixed
/cache/tile.png
/cache/tile.json
