Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #This assumes the extension is installed under $WWWROOT/rest
    RewriteRule ^(.*)$ /mapguide/rest/index.php?/$1 [E=REMOTE_USER:%{HTTP:Authorization},QSA,L,B]
</IfModule>